@import "./style.css";
@media screen and (min-width: 320px) {
  .wrapper {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #1a1915;
  }
  .conteiner {
    padding: 20px 0;
  }
  .header-form {
    margin-bottom: 120px;
  }
  .top-section__title {
    margin-bottom: 20px;
  }
  .section-title_up {
    margin-bottom: 20px;
  }
  .section-link {
    margin-bottom: 140px;
  }
  .partners-list {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 659px) {
  .header {
    flex-wrap: wrap-reverse;
    margin-bottom: 40px;
  }
  .section-title_down {
    padding: 0 15px;
  }
  .partners-section {
    text-align: center;
  }
  .partners-list_item {
    width: 210px;
    margin: 0 auto;
  }
  .partners-title {
    padding: 70px 10px 0 10px;
    margin-bottom: 20px;
  }
  .partners-list_item:nth-child(-n + 3) {
    margin-bottom: 20px;
  }
}
