@import "./style.css";
@media screen and (min-width: 320px) {
  .wrapper {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #1a1915;
  }

  .top-section__title {
    margin-bottom: 20px;
  }
  .section-title_up {
    margin-bottom: 20px;
  }
  .section-title_down {
    padding: 0 35px;
  }
  .partners-section {
    text-align: center;
  }
  .partners-list_item {
    width: 210px;
    margin: 0 auto;
  }
  .top-section {
    padding-bottom: 140px;
  }
  .partners-section {
    padding-top: 70px;
  }
  .partners-title {
    margin-bottom: 20px;
  }
  .partners-list {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 659px) {
  .header {
    flex-wrap: wrap-reverse;
    margin-bottom: 40px;
  }
  .header-form {
    margin-bottom: 120px;
  }
  .partners-list_item:nth-child(-n + 3) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 660px) {
  .conteiner {
    width: 660px;
  }
  .header {
    justify-content: space-between;
    margin-bottom: 160px;
  }
  .top-section {
    margin: 0 auto;
    width: 503px;
    padding-bottom: 235px;
  }
  .top-section__title {
    margin-bottom: 40px;
  }
  .section-title_up {
    font-size: 52px;
    margin-bottom: 45px;
  }
  .section-title_down {
    font-size: 24px;
  }
  .partners-section {
    padding-top: 75px;
    margin: 0 auto;
  }
  .partners-title {
    margin-bottom: 35px;
  }
  .partners-list {
    width: 492px;
    display: flex;
    flex-wrap: wrap;
  }
  .partners-list_item {
    width: 236px;
  }
}
