@import "./var.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}
.conteiner {
  width: 300px;
  margin: 0 auto;
}
.header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-family: var(--title-font);
}
.logo {
  color: var(--fourth-color);
  font-size: 20px;
  margin: 0;
}
.in-button,
.up-button {
  display: inline-block;
  width: 90px;
  height: 35px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: var(--fourth-color);
}
.in-button:hover,
.up-button:hover {
  border: 2px solid var(--fourth-color);
  border-radius: 20px;
}
.top-section {
  text-align: center;
}
.section-title_up {
  display: inline-block;
  font-size: 30px;
  color: var(--fourth-color);
  font-family: var(--title-font);
  text-transform: uppercase;
}
.section-title_down {
  display: inline-block;
  font-size: 18px;
  font-family: var(--description-font);
  color: var(--fourth-color);
}
.section-link {
  display: inline-block;
  width: 280px;
  padding: 12px 0;
  background: var(--secondary-color);
  outline: none;
  border-radius: 20px;
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--fourth-color);
}
.partners-title {
  font-size: 22px;
  font-family: var(--title-font);
  color: var(--third-color);
}
.img-container {
  position: relative;
  width: 121px;
  display: inline-block;
}
.partners-img {
  display: block;
  margin-bottom: 20px;
}
.img-icons {
  box-sizing: content-box;
  display: block;
  content: "";
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: 4px solid var(--fourth-color);
  border-radius: 50%;
  position: absolute;
  transform: translate(82px, -53px);
}
.first-partners {
  background-color: var(--secondary-color);
  background-position: -12px -12px;
}
.second-partners {
  background-color: #ffa507;
  background-position: -67px -12px;
}
.third-partners {
  background-color: #1cd7ad;
  background-position: -122px -12px;
}
.fourth-partners {
  background-color: #4e73db;
  background-position: -12px -68px;
}
.partners-name {
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--third-color);
}
.partners-name {
  margin-bottom: 20px;
}
.partners-description {
  font-size: 14px;
  font-family: var(--description-font);
  color: var(--description-color);
}
.partners-link {
  display: inline-block;
  width: 280px;
  padding: 12px 0;
  border: 2px solid var(--secondary-color);
  outline: none;
  border-radius: 20px;
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--secondary-color);
}
