@import "./var.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}
.conteiner {
  width: 300px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  font-family: var(--title-font);
}
.logo {
  color: var(--fourth-color);
  font-size: 20px;
  margin: 0;
}
.in-button,
.up-button {
  display: inline-block;
  width: 90px;
  height: 35px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: var(--fourth-color);
}
.in-button:hover,
.up-button:hover {
  border: 2px solid var(--fourth-color);
  border-radius: 20px;
}
.top-section {
  text-align: center;
}
.section-title_up {
  display: inline-block;
  font-size: 30px;
  color: var(--fourth-color);
  font-family: var(--title-font);
  text-transform: uppercase;
}
.section-title_down {
  display: inline-block;
  font-size: 18px;
  font-family: var(--description-font);
  color: var(--fourth-color);
}
.section-link {
  display: inline-block;
  width: 280px;
  padding: 12px 0;
  background: var(--secondary-color);
  outline: none;
  border-radius: 20px;
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--fourth-color);
}
.partners-title {
  font-size: 22px;
  font-family: var(--title-font);
  color: var(--third-color);
}
.partners-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.partners-name {
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--third-color);
}
.partners-name {
  margin-bottom: 20px;
}
.partners-description {
  font-size: 14px;
  font-family: var(--description-font);
  color: var(--description-color);
}
.partners-link {
  display: inline-block;
  width: 280px;
  padding: 12px 0;
  border: 2px solid var(--secondary-color);
  outline: none;
  border-radius: 20px;
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--secondary-color);
}
