@import "./fonts.css";
:root {
  --main-color: #222222;
  --secondary-color: #ff4e50;
  --third-color: #333333;
  --fourth-color: #ffffff;
  --description-color: #666666;
  
  --title-font: 'Montserrat Bold', sans-serif;
  --first-font:'Montserrat Regular', sans-serif;
  --description-font: 'Roboto Lights', sans-serif;
}
