@import "./fonts.css";
:root {
  --main-color: #222222;
  --secondary-color: #fed136;
  --third-color: #777777;
  --fourth-color: #ffffff;
  --border-color: #cccccc;
  --valid-color: green;
  --invalid-color: rgb(250, 8, 8);
  --button-color: rgb(255, 255, 255);
  --shadow-color: rgb(231, 231, 231);
  --text-button-color: rgb(204, 204, 204);  

  --title-font: 'Dancing Script', sans-serif;
  --first-font:'Montserrat Regular', sans-serif;
  --secondary-font: 'Montserrat Bold', sans-serif;
  --description-font: 'Raleway Italic', sans-serif;
  --services-font: 'Roboto Slab', sans-serif;
}
