* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  font-size: 14px;
}

.header {
  padding-top: 80px;
  margin-bottom: 100px;
}

.menu-list {
  list-style: none;
  text-align: center;
}

.list-item-header {
  display: inline-block;
  margin-right: 125px;
}

.list-item-header:last-child {
  margin-right: 0;
}

.item-link-header {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  color: #626262;
  line-height: 24px;
}

.item-link-header:hover {
  color: red;
}

.main-list {
  list-style: none;
  margin-bottom: 60px;
}

.list-item-main {
  display: inline-block;
  width: 420px;
  margin-bottom: 135px;
  margin-right: 56px;
}

/* nth-child(2n) */
.list-item-main:nth-child(even) {
  margin-right: 0;
}

.article-item {
  font-family: "Playfair Display", serif;
  color: #626262;
}

.article-img {
  margin-bottom: 30px;
}

p {
  line-height: 24px;
}

.p-first {
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
}

.article-h {
  margin-bottom: 40px;
  font-size: 30px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 165px;
  height: 60px;
  line-height: 24px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px inset grey;
  margin-bottom: 70px;
  font-family: "Playfair Display", serif;
  color: #626262;
}
