* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
}

.header {
  padding-top: 80px;
  margin-bottom: 100px;
}

.menu-list {
  list-style: none;
  text-align: center;
}

.list-item-header {
  display: inline-block;
  margin-right: 125px;
}

.item-link-header {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}

.main-list {
  list-style: none;
}

.list-item-main {
  margin-bottom: 135px;
}

.article-item {
  display: inline-block;
  width: 420px;
  margin-right: 54px;
}

.margin-r {
  margin-right: 0px;
}

.margin-b {
  margin-bottom: 60px;
}

img {
  margin-bottom: 30px;
}

.p-first {
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px inset grey;
  margin-bottom: 70px;
}
