@import "./var.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}
* a {
  text-decoration: none;
}
.visually-hidden {
  visibility: hidden;
  font-size: 1px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.list-style {
  list-style: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--title-font);
}
.logo {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 700;
}
.nav-list {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
}
.nav-link::after {
  content: "";
  display: block;
  margin-top: 10px;
  border: 1.5px solid var(--third-color);
  width: 100%;
  opacity: 0;
}
.nav-link:hover,
.nav-link:hover::after {
  opacity: 1;
  color: var(--third-color);
  transition: 0.2s linear;
}
.services {
  margin-bottom: 100px;
}
.services-title,
.team-title {
  text-align: center;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}
.services-title::before,
.team-title::before {
  content: "We work with";
  display: block;
  text-transform: none;
  font-family: var(--before-font);
  font-weight: 400;
  font-size: 24px;
}
.services-title::after,
.team-title::after {
  content: "";
  display: block;
  border: 1.5px solid var(--third-color);
  width: 60px;
}
.services-list {
  min-height: 240px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}
.services-list-item {
  width: 380px;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
}

.services-list-item::before {
  content: "";
  display: block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-alarm::before {
  background-image: url(../img/icons/ALARM.png);
}
.icon-line::before {
  background-image: url(../img/icons/LINE.png);
}
.icon-computer::before {
  background-image: url(../img/icons/COMPUTER_OK.png);
}
.icon-book::before {
  background-image: url(../img/icons/book.png);
}
.icon-home::before {
  background-image: url(../img/icons/HOME.png);
}
.icon-image::before {
  background-image: url(../img/icons/IMAGE.png);
}
.services-text {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.section-services__title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--fourth-color);
}
.section-services__description,
.team-description {
  font-family: var(--description-font);
  font-size: 15px;
  font-weight: 400;
  color: var(--secondary-color);
}
.team {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 0px 0px var(--shadow-color);
-moz-box-shadow: 0px 1px 0px 0px var(--shadow-color);
box-shadow: 0px 1px 0px 0px var(--shadow-color);
}
.team-title {
  margin-bottom: 45px;
}
.team-title::before {
  content: "Who are you";
}
.team-description {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list-item {
  width: 380px;
}
.img-cont {
  position: relative;
  margin-bottom: 30px;
}
.team-list-image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-cont:hover .overlay {
  visibility: visible;
  opacity: 0.9;
  -webkit-box-shadow: 10px 10px 0px 0px var(--main-color);
  -moz-box-shadow: 10px 10px 0px 0px var(--main-color);
  box-shadow: 10px 10px 0px 0px var(--main-color);
  transition: 0.2s linear;
}

.socials-list {
  display: flex;
  width: 225px;
  justify-content: space-between;
}
.socials-list-item {
  margin-right: 1px;
  flex: 1 0 26px;
}
.socials-list-item:last-child {
  margin-right: 0;
}
.socials-link {
  height: 57px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--socials-back__color);
}
.socials-link:hover {
  background-color: var(--socials-hover__color);
  transition: 0.2s linear;
}
.icon-facebook {
  background-image: url(../img/icons/socials/facebook.png);
}
.icon-twitter {
  background-image: url(../img/icons/socials/twitter.png);
}
.icon-pinterest {
  background-image: url(../img/icons/socials/pinterest.png);
}
.icon-instagram {
  background-image: url(../img/icons/socials/instagram.png);
}
.team-list-name {
  text-align: center;
  font-size: 14px;
  font-family: var(--title-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--fourth-color);
}
.team-list-description {
  text-align: center;
  font-size: 15px;
  font-family: var(--description-font);
  font-weight: 300;
  font-style: italic;
  color: var(--secondary-color);
  margin-bottom: 80px;
}
.footer {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-address {
  font-size: 14px;
  font-family: var(--title-font);
  font-weight: 400;
  font-style: normal;
  color: var(--fourth-color);
}
.footer-link {
  color: var(--third-color);
}
.form-down {
  display: flex;
  width: 380px;
}
.footer-button {
  height: 40px;
  width: 150px;
  border-style: none;
  background: var(--socials-hover__color);
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 14px;
  color: var(--button-color);
  cursor: pointer;
}
.form-email {
  flex-grow: 1;
  padding-left: 10px;
  border: 1px solid var(--shadow-color);
  color: var(--text-button-color);
  font-size: 15px;
  font-family: var(--description-font);
  font-weight: 300;
  font-style: italic;
}